<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Daniels Portfolio</title>
    <link rel="icon" type="image/x-icon" href="./images/me.jpg" />
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <!-- <div class="home"> -->
    <header id="home-section">
      <div class="nav-container">
        <div class="logo">
          <img src="./images/me.jpg" alt="" srcset="" />
          <h2><a href="/">Daniel G</a></h2>
        </div>
        <div class="hamburger"><span></span><span></span><span></span></div>
        <nav class="navbar slide">
          <a href="#section-one"> Skills</a>
          <a href="#section-two">Portfolio</a>
          <a href="#section-three">About me</a>
        </nav>
        <div class="desktop-nav">
          <a href="#section-one"> Skills</a>
          <a href="#section-two">Portfolio</a>
          <a href="#section-three">About me</a>
        </div>
      </div>
    </header>
    <div class="bulb">
      <img src="./images/light-bulb - Copy.png" alt="" srcset="" />
      <div class="light"></div>
    </div>
    <section class="home-section">
      <div class="home-text">
        <div class="greeting">HELLO!</div>

        <h1>
          <div class="name-accent"></div>
          I'm <span class="name">Daniel</span>
        </h1>

        <p>
          I am a full stack web developer, I take pleasure in creating dynamic
          web applications and would love to chat about it!
        </p>
        <div class="social-media">
          <a
            href="https://www.linkedin.com/in/daniel-gonzalez-77826b1b5/"
            target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-linkedin social-contacts"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"
              /></svg
          ></a>
          <a href="https://github.com/Daniel00190" target="_blank"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              class="bi bi-github social-contacts"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
              /></svg
          ></a>
        </div>
      </div>
      <div class="dev-img">
        <div class="dialog-box">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-chat-quote-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM7.194 6.766a1.688 1.688 0 0 0-.227-.272 1.467 1.467 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 5.734 6C4.776 6 4 6.746 4 7.667c0 .92.776 1.666 1.734 1.666.343 0 .662-.095.931-.26-.137.389-.39.804-.81 1.22a.405.405 0 0 0 .011.59c.173.16.447.155.614-.01 1.334-1.329 1.37-2.758.941-3.706a2.461 2.461 0 0 0-.227-.4zM11 9.073c-.136.389-.39.804-.81 1.22a.405.405 0 0 0 .012.59c.172.16.446.155.613-.01 1.334-1.329 1.37-2.758.942-3.706a2.466 2.466 0 0 0-.228-.4 1.686 1.686 0 0 0-.227-.273 1.466 1.466 0 0 0-.469-.324l-.008-.004A1.785 1.785 0 0 0 10.07 6c-.957 0-1.734.746-1.734 1.667 0 .92.777 1.666 1.734 1.666.343 0 .662-.095.931-.26z"
            />
          </svg>
        </div>
        <img src="./images/undraw_feeling_proud_qne1.svg" />
      </div>

      <div class="corner-img">
        <img src="./images/undraw_feeling_proud_qne1.svg" />
      </div>
      <div class="switch">
        <div class="circle"></div>
        <div class="sun">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-brightness-high"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 11a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
            />
          </svg>
        </div>
        <div class="moon">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            class="bi bi-moon"
            viewBox="0 0 16 16"
          >
            <path
              d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278zM4.858 1.311A7.269 7.269 0 0 0 1.025 7.71c0 4.02 3.279 7.276 7.319 7.276a7.316 7.316 0 0 0 5.205-2.162c-.337.042-.68.063-1.029.063-4.61 0-8.343-3.714-8.343-8.29 0-1.167.242-2.278.681-3.286z"
            />
          </svg>
        </div>
      </div>
    </section>
    <!-- </div> -->
    <div class="skills-page" id="section-one">
      <!-- <div class="corner-img">
            <img src="../images/corner.jpg" />
         </div> -->
      <h1>SKILLS</h1>
      <div class="skills-section">
        <div class="front-end-section">
          <h2>Front End</h2>
          <div>HTML+CSS</div>
          <div>sass</div>
          <div>javascript</div>
          <div>react</div>
          <div>bootstrap</div>
          <img src="./images/undraw_certificate_re_yadi.svg" alt="" srcset="" />
        </div>
        <div class="back-end-section">
          <h2>Back End</h2>
          <div>PHP</div>
          <div>laravel</div>
          <div>mysql</div>
          <div>express</div>
          <div>django</div>
          <img src="./images/undraw_online_cv_re_gn0a.svg" alt="" srcset="" />
        </div>
      </div>
      <!-- <div class="blob"></div> -->
    </div>
    <div class="portfolio-page" id="section-two">
      <h1>Portfolio</h1>
      <div class="card-container">
        <div class="img"></div>
        <div class="description">
          <div class="title">
            <div class="headline">Main Project</div>
            <h2>Fit-Goal App</h2>
          </div>
          <div class="text-box">
            Comprehensive full-stack application featuring user authentication,
            allows for the storage and display of gym workout data. It
            incorporates graphical representations to illustrate which muscle
            groups the user has been focusing on most frequently.
          </div>
          <div class="tags">
            <div>Laravel</div>
            <div>php</div>
            <div>mysql</div>
            <div>sass</div>
            <div>javascript</div>
          </div>
          <div class="links">
            <a
              href="https://github.com/Daniel00190/Laravel-gym-logger"
              target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-github"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                /></svg
            ></a>
            <a href="https://fit-goal.herokuapp.com/" target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-box-arrow-up-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
                />
                <path
                  fill-rule="evenodd"
                  d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
                /></svg
            ></a>
          </div>
        </div>
      </div>

      <div class="card-container img-to-the-right">
        <div class="description">
          <div class="title">
            <div class="headline">Still in Progress</div>
            <h2>Dealership Website</h2>
          </div>
          <div class="text-box">
            Front Page of an app that a Dealership would use to display, add and
            delete current inventory. (still in Progress)
          </div>
          <div class="tags">
            <div>Laravel</div>
            <div>php</div>
            <div>mysql</div>
            <div>sass</div>
            <div>javascript</div>
          </div>
          <div class="links">
            <a
              href="https://github.com/Daniel00190/dealership-website"
              target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-github"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                /></svg
            ></a>
            <a
              href="https://dealership-landing-page.netlify.app/html/home"
              target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-box-arrow-up-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
                />
                <path
                  fill-rule="evenodd"
                  d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
                /></svg
            ></a>
          </div>
        </div>
        <div class="img img-to-the-right img-2"></div>
      </div>
      <div class="card-container">
        <div class="img img-3"></div>
        <div class="description">
          <div class="title">
            <div class="headline">Main Project</div>
            <h2>News App</h2>
          </div>
          <div class="text-box">
            A full-stack app that retrieves the news data from an API in real
            time. It also includes search functionality. This is app is as good
            as the api.
          </div>
          <div class="tags">
            <div>React</div>
            <div>Express JS</div>
            <div>HTML</div>
            <div>Css</div>
            <div>javascript</div>
          </div>
          <div class="links">
            <a
              href="https://github.com/Daniel00190/react-news-frontend"
              target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-github"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                /></svg
            ></a>
            <a
              href="https://react-news-api-frontend.netlify.app/"
              target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-box-arrow-up-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
                />
                <path
                  fill-rule="evenodd"
                  d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
                /></svg
            ></a>
          </div>
        </div>
      </div>
      <div class="card-container img-to-the-right">
        <div class="description">
          <div class="title">
            <div class="headline">Simple Project</div>
            <h2>Password Generator</h2>
          </div>
          <div class="text-box">
            A basic password generator that produces imaginative usernames
            inspired by Marvel superheroes.
          </div>
          <div class="tags">
            <div>HTML</div>
            <div>Css</div>
            <div>Javascript</div>
          </div>
          <div class="links">
            <a
              href="https://github.com/Daniel00190/password-generator"
              target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-github"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                /></svg
            ></a>
            <a href="https://simple-pass-generator.netlify.app/" target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-box-arrow-up-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
                />
                <path
                  fill-rule="evenodd"
                  d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
                /></svg
            ></a>
          </div>
        </div>
        <div class="img img-4"></div>
      </div>
      <div class="card-container">
        <div class="img img-noimg"></div>
        <div class="description">
          <div class="title">
            <div class="headline">Not live</div>
            <h2>Django Portfolio</h2>
          </div>
          <div class="text-box">
            My old portfolio website made with Django, not live at the moment
            but you can check the code
          </div>
          <div class="tags">
            <div>Django</div>
            <div>PostgreSQL</div>
            <div>HTML</div>
            <div>Css</div>
          </div>
          <div class="links">
            <a
              href="https://github.com/Daniel00190/django_website"
              target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-github"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                /></svg
            ></a>
          </div>
        </div>
      </div>
      <div class="card-container img-to-the-right">
        <div class="description">
          <div class="title">
            <div class="headline">Live</div>
            <h2>Shoe Marketplace</h2>
          </div>
          <div class="text-box">
            An online shopping application specialized in footwear, where users
            can sign in, browse, and add their favorite shoes to their shopping
            cart.
          </div>
          <div class="tags">
            <div>HTML</div>
            <div>Css</div>
            <div>Javascript</div>
            <div>Laravel</div>
            <div>MySQL</div>
          </div>
          <div class="links">
            <a
              href="https://github.com/Daniel00190/laravel-ecommerce"
              target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-github"
                viewBox="0 0 16 16"
              >
                <path
                  d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"
                /></svg
            ></a>
            <a
              href="https://laravel-ecommerceshoes.herokuapp.com/"
              target="_blank"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="bi bi-box-arrow-up-right"
                viewBox="0 0 16 16"
              >
                <path
                  fill-rule="evenodd"
                  d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
                />
                <path
                  fill-rule="evenodd"
                  d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
                /></svg
            ></a>
          </div>
        </div>
        <div class="img img-5"></div>
      </div>
    </div>
    <div class="about-page" id="section-three">
      <div class="about-container">
        <h1>ABOUT</h1>
        <div class="about">
          <img src="./images/IMG20220605102313.jpg" alt="" srcset="" />
        </div>
        <div class="contact">
          <h2>Daniel Gonzalez</h2>
          <!-- <div>786-322-0921</div> -->
          <div class="email">danielgonzalez91h@gmail.com</div>
        </div>
        <p>
          As a Miami-based full-stack web developer, I find great satisfaction
          in creating aesthetically pleasing websites and robust platforms with
          comprehensive databases. I hold an associate's degree in Computer
          Science from my home country, a testament to my longstanding passion
          for coding and technology at large. If my work appeals to you, feel
          free to reach out via email or phone. I am eager to discuss how my
          skills could benefit your company.
        </p>
      </div>
    </div>
  </body>
  <script src="./javascript/main.js"></script>
</html>
